@model List<Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<a class="btn btn-primary" asp-action="Add">Add</a>
<ol>
    @foreach (var d in Model) {
        <li>
            <a asp-action="Details" asp-route-id="@d.Id">@d.Name</a>
        </li>
    }
</ol>

